version: '3'
services:
  no-direnv:
    build: .
    container_name: asdf-kotlin-no-direnv
    tty: true
    working_dir: /home/build
    environment:
      USE_DIRENV: 'no'
    volumes:
     - .:/home/build/src
    command: [
      "git clone https://github.com/asdf-vm/asdf.git ~/.asdf && . ~/.asdf/asdf.sh && mkdir -p ~/.asdf/plugins/kotlin && rsync -a /home/build/src/ ~/.asdf/plugins/kotlin/ && bash ~/.asdf/plugins/kotlin/scripts/tests.bash"
    ]
  with-direnv:
    build: .
    container_name: asdf-kotlin-with-direnv
    tty: true
    working_dir: /home/build
    environment:
      USE_DIRENV: 'yes'
    volumes:
     - .:/home/build/src
    command: [
      "git clone https://github.com/asdf-vm/asdf.git ~/.asdf && . ~/.asdf/asdf.sh && mkdir -p ~/.asdf/plugins/kotlin && rsync -a /home/build/src/ ~/.asdf/plugins/kotlin/ && bash ~/.asdf/plugins/kotlin/scripts/tests.bash"
    ]
