---
name: Build
permissions:
  contents: read
on:
  schedule:
    - cron: "0 23 * * 1"
  push:
    branches:
      - master
  pull_request:
jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: asdf_install
        uses: asdf-vm/actions/setup@v4
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          skip_install: true
          command: kotlin -help
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          path: kotlin
      - name: Move kotlin plugin to plugins dir
        run: |
          mkdir -p "${HOME}/.asdf/plugins/"
          mv kotlin "${HOME}/.asdf/plugins/"
      - name: Run kotlin specific tests
        run: |-
          bash "${HOME}/.asdf/plugins/kotlin/scripts/tests.bash"
